@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans:600');


:root {
	--main-color: #643A7A;
	--secondary-color: #741CAF;
    --white: #fff;
    --black: #000;
    --pink: #F178B5;
	--sans: "josefin sans", sans serif;
}

body {
	background: #FFB8D7;
    color: var(--black) ;
    min-width: 450px;
    min-height: 350px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 83%;
    transform: translate(-50%, -50%);
    background: var(--pink);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(35, 33, 33, 1);
    font-size: 1.0rem;
    font-weight:bold;
    text-align: center;
  }

.border{
    position: relative;
    border: 5px solid #ff3f7f;
    border-radius: 5px;

    margin: 5px;;
    padding: 3px;
    height: 90%;
}

#lyrics,.title{
        font-weight: bold;
        text-shadow: 2px 1px 3px #ff0055;
    color: #fff;
}

.center{
    margin: 0 5px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
  }

.desp{
    font-size: 12px;
    color:#4b4646;
    text-shadow: 2px 1px 3px #ff0055;
}




